*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d0e9e9;
}

.container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in{
    display: block;
    width: 260px;
    padding: 8px;
    margin-bottom: 5px;
}

.title{
    font-family: sans-serif;
    margin-bottom: 20px;
}

.text{
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 15px;    
}